body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    color: #00f;
  }
  
  section {
    margin: 0 0 20px 0;
  }
  
  #home {
    background-color: #fff;
    padding: 20px;
    margin: 200px;
  }
  
  #about-me {
    background-color: #eee;
    padding: 20px;
  }
  
  #projects {
    background-color: #ddd;
    padding: 20px;
  }
  
  #contact {
    background-color: #bbb;
    padding: 20px;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  